@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Message.css")

@model SPG.DataViewModels.ViewModels.HistoryDTO

<div class="container-chat">
    <img src="/Content/images/chatbot.png" alt="Avatar" style="width:100%;">
    <p>Здравей! С какво мога да помогна днес?</p>
    <span class="time-right">@DateTime.Now</span>
</div>

<div>
    @foreach (var item in Model.History)
    {
        <div class="container-chat darker">
            <img src="/Content/images/person.png" alt="Avatar" class="right" style="width:100%;" />
            <p>@Html.DisplayFor(modelItem => item.Message)</p>
            <span class="time-left">@DateTime.Now</span>
        </div>

        <div class="container-chat">
            <img src="/Content/images/chatbot.png" alt="Avatar" style="width:100%;">
            <p>Какво ще кажеш за този ресторант?</p>
            <span class="time-right">@DateTime.Now</span>
        </div>
    }
</div>

@using (Html.BeginForm("ShowMessage", "Message", FormMethod.Post))
{
    <div class="container">
        <div class="col-md-6">
            @Html.TextAreaFor(model => model.Current.Message, new { @class = "container-chat lighter form-control" })
            @Html.ValidationMessageFor(model => model.Current.Message)
        </div>
        <div class="col-md-6">
            <center>
                <button class="send btn btn-primary btn-large" type="submit">Изпрати >></button>
            </center>
        </div>
    </div>
}

