@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Message.css")
@using SPG.DataViewModels.ViewModels
@model SPG.DataViewModels.ViewModels.HistoryDTO

@{bool show = false; }

<div class="container-chat">
    <img src="/Content/images/chatbot.png" alt="Avatar" style="width:100%;">
    <p>Hi! How can I help you today?</p>
    <span class="time-right">@DateTime.Now</span>
</div>

<div>
    @foreach (var item in Model.History)
    {
        if (item.Type == MessageType.User)
        {
            <div class="container-chat darker">
                <img src="/Content/images/person.png" alt="Avatar" class="right" style="width:100%;" />
                <p>@Html.DisplayFor(modelItem => item.Message)</p>
                <span class="time-left">@Html.DisplayFor(modelItem => item.CreatedOn)</span>
            </div>
        }
        else if (item.Type == MessageType.Bot)
        {
            <div class="container-chat">
                <img src="/Content/images/chatbot.png" alt="Avatar" style="width:100%;">
                <p>@Html.DisplayFor(modelItem => item.Message)</p>
                <span class="time-right">@Html.DisplayFor(modelItem => item.CreatedOn)</span>
            </div>
        }
    }
</div>
@if (show)
{
    <div class="container-chat darker">
        <img src="/Content/images/person.png" alt="Avatar" class="right" style="width:100%;" />
        <p>@Html.DisplayFor(modelItem => Model.CurrentMessage.Message)</p>
        <span class="time-left">@Html.DisplayFor(modelItem => Model.CurrentMessage.CreatedOn)</span>
    </div>
}
@using (Html.BeginForm("ShowMessage", "Message", FormMethod.Post))
{
    <div class="container">
        <div class="col-md-6">
            @Html.TextAreaFor(model => model.CurrentMessage.Message, new { @class = "container-chat lighter form-control" })
            @Html.ValidationMessageFor(model => model.CurrentMessage.Message)
        </div>
        <div class="col-md-6">
            <center>
                <button class="send btn btn-primary btn-large" beforeSubmit="displayCurrent()" type="submit">Send</button>
            </center>
        </div>
    </div>
}

<script>
    function displayCurrent() {
        @{
            show = true;
        }
        return true;
    }
</script>
