@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/Message.css")

@model SPG.DataViewModels.ViewModels.MessageDTO

<div class="container-chat">
    <img src="/Content/images/chatbot.png" alt="Avatar" style="width:100%;">
    <p>Здравей! С какво мога да помогна днес?</p>
    <span class="time-right">@DateTime.Now</span>
</div>

@{ string message = Request.Form["message"]; }
@{
    if (@ViewBag.Question != null)
    {
        <div class="container-chat darker">
            <img src="/Content/images/person.png" alt="Avatar" class="right" style="width:100%;" />
            <p>@message</p>
            <span class="time-left">@DateTime.Now</span>
        </div>
    }
}

<div class="container">
    @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
    {
        <div class="col-md-6">
            @Html.TextAreaFor(model => model.Message, new { @class = "container-chat lighter form-control" })
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        <div class="col-md-6">
            <center>
                <button class="btn btn-primary btn-large" type="submit">Изпрати >></button>
            </center>
        </div>
    }
</div>
